<%- include('head.ejs') %>
<nav class="navbar p-0 fixed-top d-flex flex-row">
  <div class="navbar-brand-wrapper d-flex d-lg-none align-items-center justify-content-center">
    <a class="navbar-brand brand-logo-mini" href=""><img src="/images/ee27c3bec242ad50729177a84c421013.png" alt="logo" /></a>
  </div>
  <div class="navbar-menu-wrapper flex-grow d-flex align-items-stretch">
    <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
      <span class="mdi mdi-menu"></span>
    </button>
    <ul class="navbar-nav w-100">
      <li class="nav-item w-100">
        <form class="nav-link mt-2 mt-md-0 d-none d-lg-flex search">
          <input type="text" class="form-control"  id="productSearch" placeholder="Search products">
        </form>
      </li>
    </ul>
    <ul class="navbar-nav navbar-nav-right">
      
      <li class="nav-item nav-settings d-none d-lg-block">
        <a class="nav-link" href="#">
          <i class="mdi mdi-view-grid"></i>
        </a>
      </li>
      
      <li class="nav-item dropdown">
        <a class="nav-link" id="profileDropdown" href="#" data-toggle="dropdown">
          <div class="navbar-profile">
            <img class="img-xs rounded-circle" src="/images/5e47d289f1335_thumb900.webp" alt="">
            <p class="mb-0 d-none d-sm-block navbar-profile-name">Admin Panel</p>
            <i class="mdi mdi-menu-down d-none d-sm-block"></i>
          </div>
        </a>
        <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list" aria-labelledby="profileDropdown">
          <h6 class="p-3 mb-0">Profile</h6>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item preview-item">
            
          </a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item preview-item">
            <div class="preview-thumbnail">
              <div class="preview-icon bg-dark rounded-circle">
                <i class="mdi mdi-logout text-danger"></i>
              </div>
            </div>
            <div class="preview-item-content">
              <a href="/getadmin/logout"><p class="preview-subject mb-1">Log out</p></a>
            </div>
          </a>
          
      </li>
    </ul>
    <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
      <span class="mdi mdi-format-line-spacing"></span>
    </button>
  </div>
</nav>

  


  <div class="main-panel">
    <div class="content-wrapper">
     





<div class="row">
<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">

        <button class="btn btn-success" id="openAddProduct">Add category</button>
        
        </p>
        <div class="table-responsive">
          <table class="table table-striped">
            <thead>
              <tr>
                <th> Image </th>
                <th> Matter  </th>
                <th> Category </th>
              </tr>
            </thead>
            <tbody>
                <% if (banners) { %>
                <% banners.map((product, index)=> { %>
              <tr id="product-row">
                <td class="py-1">
                  <img src="<%= product.ImagePath[0] %>" alt="image" >
                </td>
                <td style="color: white;" id="product-name"> <%= product.matter %> </td>
                
                
                
                <td>
                    <%= product.catagory %>
                    </td>
                 
              </tr>
              <% }); %>
              <% } %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="popUp" style="display: none;">
    <div><button class="btn btn-danger closeBtn">close</button></div>
    <div class="formDiv">
        <h6 class="text-center">Add New Banner</h6>
        <form action="/getadmin/addbanner" method="post" enctype="multipart/form-data">
            <div class="mb-3">
                <label class="form-label">Matter</label>
                <input type="text" class="form-control" id="fileupload" name="matter" required minlength="3">
            </div>
            <div class="mb-3">
                <label class="form-label">Category</label>
                <select class="form-label form-control" name="catagory">
                    <% ctgry.map((category, index)=> { %>
                        <option value="<%= category.catagory %>" class=""><%= category.catagory %></option>
                    <% }); %>
                </select>
            </div>
            <div class="mb-3">
                <label class="form-label">Select the images</label>
                <p style="color: red;"> Add only one image</p>
                <input type="file" class="form-control" id="fileUpload" name="images" maxlength="1" value="" multiple required >
            </div>
            <div id="imagePreview"></div>
            <button type="submit" class="btn btn-primary">Add Catagory</button>
        </form>
    </div>
</div>


<%- include('foot.ejs') %>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10.14.0/dist/sweetalert2.all.min.js"></script>

<% if(error){ %>
    <script>
    Swal.fire({
      title: "Error",
      text: "The category already exists",
      icon: "error",
      confirmButtonText: "OK"
    });
    </script>
    <% } %>


<script>
    function showDeleteConfirmation(event, pid) {
      event.preventDefault(); // Prevent the default link behavior
    
      // Show a Swal confirmation pop-up
      Swal.fire({
        title: "Are you sure?",
        text: "You won't be able to revert this!",
        icon: "warning",
        showCancelButton: true,
        confirmButtonColor: "#d33",
        cancelButtonColor: "#3085d6",
        confirmButtonText: "Yes, delete it!",
      }).then((result) => {
        if (result.isConfirmed) {
          // If the user confirms, proceed with the deletion
          window.location.href = `/getadmin/delete/${pid}`;
        }
      });
    }
    </script>

<script>
    function showBlockConfirmation(event, pid) {
      event.preventDefault(); // Prevent the default link behavior
    
      // Show a Swal confirmation pop-up
      Swal.fire({
        title: "Are you sure?",
        text: "You won't be able to revert this!",
        icon: "warning",
        showCancelButton: true,
        confirmButtonColor: "#d33",
        cancelButtonColor: "#3085d6",
        confirmButtonText: "Yes, Block it!",
      }).then((result) => {
        if (result.isConfirmed) {
          // If the user confirms, proceed with the deletion
          window.location.href = `/getadmin/block/${pid}`;
        }
      });
    }
    </script>
    <script>
        function showUnblockConfirmation(event, pid) {
          event.preventDefault(); // Prevent the default link behavior
        
          // Show a Swal confirmation pop-up
          Swal.fire({
            title: "Are you sure?",
            text: "You won't be able to revert this!",
            icon: "warning",
            showCancelButton: true,
            confirmButtonColor: "#d33",
            cancelButtonColor: "#3085d6",
            confirmButtonText: "Yes, unblock it!",
          }).then((result) => {
            if (result.isConfirmed) {
              // If the user confirms, proceed with the deletion
              window.location.href = `/getadmin/unblock/${pid}`;
            }
          });
        }
        </script>

<script>
    $(document).ready(() => {
        $("#openAddProduct").click(() => {
            $(".popUp").toggle(300);
        })
        $(".closeBtn").click(() => {
            $(".popUp").toggle(300);
        })
    })
</script>


<script>
    document.addEventListener("DOMContentLoaded", () => {

        // Select the search input field
        const productSearchInput = document.getElementById('productSearch');

        // Select all product rows
        const productRows = document.querySelectorAll('#product-row');

        productSearchInput.addEventListener('input', () => {
            const searchTerm = productSearchInput.value.toLowerCase();

            // Loop through all product rows and hide those that don't match the search term
            productRows.forEach((row) => {
                const productName = row.querySelector('#product-name').textContent.toLowerCase();
                

                if (
                    productName.includes(searchTerm) 
                    
                ) {
                    row.style.display = 'table-row';
                } else {
                    row.style.display = 'none';
                }
            });
        });

    })
</script>