<%- include('header.ejs') %>
<div class="page-wrapper">
    <main class="main">
        <div class="page-header text-center" style="background-image: url('assets/images/page-header-bg.jpg')">
            <div class="container">
                <h1 class="page-title">Checkout<span><%= product?product.Productname:'Checkout cart'  %></span></h1>
            </div><!-- End .container -->
        </div><!-- End .page-header -->
        <nav aria-label="breadcrumb" class="breadcrumb-nav">
            <div class="container">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/">Home</a></li>
                    <li class="breadcrumb-item"><a href="/">Shop</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Checkout</li>
                </ol>
            </div><!-- End .container -->
        </nav><!-- End .breadcrumb-nav -->

        <div class="page-content">
            <div class="checkout">
                <div class="container">
                    <div class="cart-discount">
                                       
                        <div >
                            <label for="checkout-discount-input" class="text-truncate"
                              >Have a coupon? <span>Enter your code below.</span></label
                            >
                          </div>
                          <div class="cart-discount">
                            
                              <div class="input-group mb-5">
                                <input
                                  type="text"
                                  class="form-control"
                                  required
                                  name="code"
                                  id="code"
                                  placeholder="coupon code"
                                  style="
                                    height: 40px;
                                    border: 1px dotted #000;
                                    padding-left: 10px;
                                  "
                                />
                                
                                <button
                                id="unApply"
                                  class="btn btn-outline-dark"
                                  style="margin: 0; width: 70px; height: 40px; display: none;"
                                  onclick="unApplycoupon($('#code').val())"
                                >
                                  <i class="fas fa-trash"></i>
                                </button>
                                
                                  <button
                                  id="apply"
                                  class="btn btn-outline-dark"
                                  style="margin: 0; width: 70px; height: 40px"
                                  onclick="applycoupon($('#code').val())"
                                >
                                  <i class="icon-long-arrow-right"></i>
                                </button>
                                <input type="text" id="couponcode" value=""  style="display: none;">
                              </div>
                          </div>
                </div>
                    <form   id="the-checkout-form">
                    <!-- End .checkout-discount -->
                    
                        <div class="row">
                            <div class="col-lg-9">
                                <h2 class="checkout-title">Billing Details</h2><!-- End .checkout-title -->
                                    <div class="row">
                                        <div class="col-12">
                                            <label>Name *</label>
                                            <input type="text" class="form-control" id="name" name="uname" value="<%= address? address.PrimaryAddress.Name : '' %>" required>
                                        </div><!-- End .col-sm-6 -->
                                    </div><!-- End .row -->

                                    <label>Company Name (Optional)</label>
                                    <input type="text" class="form-control"  name="companyname">

                                    <label>Country *</label>
                                    <input type="text" class="form-control" id="country" name="country" value="<%= address? address.PrimaryAddress.Country : '' %>" required>

                                    <label>Street address *</label>
                                    <input type="text" name="streetaddress1" class="form-control" placeholder="House number and Street name" required>
                                    <input type="text" name="streetaddress1" id="landmark" class="form-control" placeholder="Appartments, suite, unit etc ..." value="<%= address? address.PrimaryAddress.Landmark : '' %>" required>

                                    <div class="row">
                                        <div class="col-sm-6">
                                            <label>Town / City *</label>
                                            <input type="text" class="form-control" id="city" name="city" value="<%= address? address.PrimaryAddress.City : '' %>" required>
                                        </div><!-- End .col-sm-6 -->

                                        <div class="col-sm-6">
                                            <label>State / County *</label>
                                            <input type="text" class="form-control" id="sc" name="state" value="<%= address? address.PrimaryAddress.States : '' %>, <%= address? address.PrimaryAddress.Country : '' %>" required>
                                        </div><!-- End .col-sm-6 -->
                                    </div><!-- End .row -->

                                    <div class="row">
                                        <div class="col-sm-6">
                                            <label>Postcode / ZIP *</label>
                                            <input type="text" class="form-control" id="pin" name="pincode" value="<%= address? address.PrimaryAddress.Pincode : '' %>" required>
                                        </div><!-- End .col-sm-6 -->

                                        <div class="col-sm-6">
                                            <label>Phone *</label>
                                            <input type="tel" class="form-control" id="phone" name="phone" value="<%= address? address.PrimaryAddress.Phone : '' %>" required>
                                        </div>
                                                                        </div> 

                                    <label>Email address *</label>
                                    <input type="email" class="form-control" value="<%= user.email %>" name="email" required>

                                    <!-- <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="checkout-diff-address">
                                        <label class="custom-control-label" for="checkout-diff-address">Save this as primary address</label>
                                    </div> -->
                                   
                                    <div class="row">
                                        <div class="col-sm-6" style="display: flex; flex-direction: column;" >
                                            
                                            <label>Primary address</label><input type="radio" id="first" name="address" onchange="change()" value="primary">
                                            <label> 
                                                <%= address? address.PrimaryAddress.Name : '' %><br>
                                                <%= address? address.PrimaryAddress.Landmark : '' %>(H)<br>
                                                <%= address? address.PrimaryAddress.City : '' %>,<%= address? address.PrimaryAddress.States : '' %><br>
                                                <%= address? address.PrimaryAddress.Country : '' %>,<%= address? address.PrimaryAddress.Pincode : '' %><br>
                                                <%= address? address.PrimaryAddress.Phone : '' %>


                                            </label>
                                            
                                            
                                        </div><!-- End .col-sm-6 -->

                                        
                                            <div class="col-sm-6" style="display: flex; flex-direction: column;" >
                                            <label>Secondary address</label><input type="radio" id="second" name="address" onchange="change()" value="secondary" >
                                            <label> 
                                                <%= address? address.SecondaryAddress.Landmark : '' %>(H)<br>
                                                <%= address? address.SecondaryAddress.Name : '' %><br>
                                                <%= address? address.SecondaryAddress.City : '' %>,<%= address? address.SecondaryAddress.States : '' %><br>
                                                <%= address? address.SecondaryAddress.Country : '' %>,<%= address? address.SecondaryAddress.Pincode : '' %><br>
                                                <%= address? address.SecondaryAddress.Phone : '' %>


                                            </label>
                                        </div>
                                    </div>
                                    
                            </div><!-- End .col-lg-9 -->
                            <aside class="col-lg-3">
                                <div class="summary" style="background-color: white;">
                                    <h3 class="summary-title">Your Order</h3><!-- End .summary-title -->

                                    <table class="table table-summary">`
                                        <thead>
                                            <tr>
                                                <th>Product</th>
                                                <th>Total</th>
                                            </tr>
                                        </thead>

                                        <tbody>
                                            <% let subtotal = 0 %>
                                            <% if(cart){ %>
                                                <% cart.map((product)=>{ %>
                                                    <input type="hidden" name="productId" value="<%= product.Productid %>">
                                                    <input type="hidden" name="quantity" value="<%= product.Quantity %>">
                                            <tr>
                                                <td><a href="#"><%= product.Productname %></a><i style="color: rgb(0, 0, 0);font-weight: 500;"> x <%= product.Quantity %></i></td>
                                                <td>₹<%= product.Price * product.Quantity %></td>
                                            </tr>
                                            <% subtotal += product.Price * product.Quantity %>
                                            <% }) %>
                                            <% } else {%>
                                                <input type="hidden" name="productId" value="<%= product._id %>">
                                                <input type="hidden" name="quantity" value="1">
                                            <tr>
                                                <td><a href="#"><%= product.Productname %></a></td>
                                                <td>₹<%= product.Price - product.Discount * quantity %></td>

                                            </tr>
                                            <% } %>
                                            <tr class="summary-subtotal">
                                                <td>Subtotal:</td>
                                                <td id="subtotal"><%= subtotal %></td>
                                            </tr><!-- End .summary-subtotal -->
                                            <tr>
                                                <td>Shipping:</td>
                                                <td>Free shipping</td>
                                            </tr>
                                            <tr id="appliedBadge" style="display: none;">
                                                <td>Coupon Applied</td>
                                                <td> <i class="fa-solid fa-badge-check" style="font-size: large;" ></i></td>
                                               
                                              </tr>
                          
                                              <tr class="summary-subtotal" id="disCol" style="display: none;">
                                                <td> Discount Amount:</td>
                                                <td id="discount" ></td>
                                              </tr>

                                            <tr class="summary-total">
                                                <td>Total: </td>
                                                <td id="total">₹ <%= subtotal %></td>
                                               
                                            </tr><!-- End .summary-total -->
                                        </tbody>
                                    </table><!-- End .table table-summary -->

                                    <div class="accordion-summary" id="accordion-payment">
                                        <!-- End .card -->

                                        <div class="card">
                                            <div class="card-header" id="heading-3">
                                                <h2 class="card-title">
                                                    <label for="payment-method-cash">
                                                        <input type="radio" id="payment-method-cash" name="payment" class="payment-method-radio" value="wallet" required>
                                                        wallet
                                                    </label>
                                                </h2>
                                            </div><!-- End .card-header -->
                                            <div id="collapse-3" class="collapse" aria-labelledby="heading-3" data-parent="#accordion-payment">
                                                <div class="card-body">
                                                    
                                                </div><!-- End .card-body -->
                                            </div><!-- End .collapse -->
                                        </div>
                                        
                                        <div class="card">
                                            <div class="card-header" id="heading-3">
                                                <h2 class="card-title">
                                                    <label for="payment-method-cash">
                                                        <input type="radio" id="payment-method-cash" name="payment" class="payment-method-radio" value="cod" required>
                                                        Cash on delivery
                                                    </label>
                                                </h2>
                                            </div><!-- End .card-header -->
                                            <div id="collapse-3" class="collapse" aria-labelledby="heading-3" data-parent="#accordion-payment">
                                                <div class="card-body">
                                                    
                                                </div><!-- End .card-body -->
                                            </div><!-- End .collapse -->
                                        </div>
                                        <!-- End .card -->
                                        
                                        <div class="card">
                                            <div class="card-header" id="heading-4">
                                                <h2 class="card-title">
                                                    <label for="payment-method-1">
                                                        <input type="radio" id="payment-method-1" name="payment" class="payment-method-radio" value="pod" required>
                                                        Razor Pay
                                                    </label>
                                                </h2>
                                            </div><!-- End .card-header -->
                                            <div class="card-body">
                                            </div><!-- End .card-body -->
                                        </div>
                                        <!-- End .card-body -->
                                        </div>

                                        <!-- End .accordion -->

                                    <button type="submit" class="btn btn-outline-primary-2 btn-order btn-block">
                                        <span class="btn-text">Place Order</span>
                                        <span class="btn-hover-text">Proceed to Checkout</span>
                                    </button>

                                
                                </div><!-- End .summary -->
                            </aside><!-- End .col-lg-3 -->
                        </div><!-- End .row -->
                    </form>
                </div><!-- End .container -->
            </div><!-- End .checkout -->
        </div><!-- End .page-content -->
    </main><!-- End .main -->

    <footer class="footer footer" style="color: black;">
        <div class="footer-middle">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-lg-3">
                        <div class="widget widget-about">
                            <img src="/images/Screenshot 2023-09-12 110622.png" class="footer-logo" alt="Footer Logo" width="105" height="25">
                            <p style="color: black;">ELECTRO MANIA the perfect choice for digital world  </p>

                            <div class="social-icons">
                                <a href="https://www.instagram.com/mohd_sharhan_/#" class="social-icon" title="Facebook" target="_blank"><i class="icon-facebook-f"></i></a>
                                <a href="https://www.instagram.com/mohd_sharhan_/#" class="social-icon" title="Twitter" target="_blank"><i class="icon-twitter"></i></a>
                                <a href="https://www.instagram.com/mohd_sharhan_/#" class="social-icon" title="Instagram" target="_blank"><i class="icon-instagram"></i></a>
                                <a href="https://www.instagram.com/mohd_sharhan_/#" class="social-icon" title="Youtube" target="_blank"><i class="icon-youtube"></i></a>
                                <a href="https://www.instagram.com/mohd_sharhan_/#" class="social-icon" title="Pinterest" target="_blank"><i class="icon-pinterest"></i></a>
                            </div><!-- End .soial-icons -->
                        </div><!-- End .widget about-widget -->
                    </div><!-- End .col-sm-6 col-lg-3 -->

                    <div class="col-sm-6 col-lg-3">
                        <div class="widget">
                            <h4 class="widget-title">Useful Links</h4><!-- End .widget-title -->

                            <!-- End .widget-list -->
                        </div><!-- End .widget -->
                    </div><!-- End .col-sm-6 col-lg-3 -->

                    <div class="col-sm-6 col-lg-3">
                        <div class="widget">
                            <h4 class="widget-title">Customer Service</h4><!-- End .widget-title -->

                            <ul class="widget-list">
                                <li><a href="#">Payment Methods</a></li>
                                <li><a href="#">Money-back guarantee!</a></li>
                                <li><a href="#">Returns</a></li>
                                <li><a href="#">Shipping</a></li>
                                <li><a href="#">Terms and conditions</a></li>
                                <li><a href="#">Privacy Policy</a></li>
                            </ul><!-- End .widget-list -->
                        </div><!-- End .widget -->
                    </div>

                    <div class="col-sm-6 col-lg-3">
                        <div class="widget">
                            <h4 class="widget-title">My Account</h4><!-- End .widget-title -->

                            <ul class="widget-list">
                                <li><a href="/sin">Sign In</a></li>
                                <li><a href="/viewcart">View Cart</a></li>
                                <li><a href="/wishlist">My Wishlist</a></li>
                                <li><a href="/getorder">Track My Order</a></li>
                                
                            </ul><!-- End .widget-list -->
                        </div><!-- End .widget -->
                    </div><!-- End .col-sm-6 col-lg-3 -->
                </div><!-- End .row -->
            </div><!-- End .container -->
        </div><!-- End .footer-middle -->

        <div class="footer-bottom">
            <div class="container">
                <p class="footer-copyright">Copyright © 2019 ELECTRO MANIA Store. All Rights Reserved.</p><!-- End .footer-copyright -->
                <figure class="footer-payments">
                    <img src="assets/images/payments.png" alt="Payment methods" width="272" height="20">
                </figure><!-- End .footer-payments -->
            </div><!-- End .container -->
        </div><!-- End .footer-bottom -->
    </footer><!-- End .footer -->
</div><!-- End .page-wrapper -->
<% if(balance){ %>
    <script>
    Swal.fire({
      title: "error",
      text: "You have insufficient balance in wallet",
      icon: "error",
      confirmButtonText: "OK"
    });
    </script>
    <% } %>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <script>
function unApplycoupon(code) {
    const amount = document.getElementById('subtotal').innerHTML;
    $.ajax({
      url: "/deleteAppliedCoupon",
      data:{
        code:code,
        amount: amount
      },
      method: "post",
      success: (response)=>{
        if(response.success){
          document.getElementById('total').innerHTML = response.disTotal
          document.getElementById('subtotal').innerHTML = response.disTotal
          document.getElementById('apply').style.display = "block"
          document.getElementById('unApply').style.display = "none"
          document.getElementById('disCol').style.display = "none"
          document.getElementById('appliedBadge').style.display = "none"
          document.getElementById('code').value=""
          document.getElementById('couponcode').value=""

          Swal.fire({
            icon: 'warning',
            title: 'Deleted !!',
            text: 'Applied coupon is deleted.'
          })
        }
      }
    })
  }







        function applycoupon(code) {
            
            const amount = document.getElementById('subtotal').innerHTML;
           
            
            $.ajax({
              url: "/applycoupon",
              data: {
                code: code,
                amount: amount
              },
              method: "post",
              success: (response) => {
                if (response.user) {
                  Swal.fire({
                    icon: 'error',
                    title: 'Oops !!',
                    text: 'This coupon already used!'
                  })
                }else if (response.cartAmount) {
                  Swal.fire({
                    icon: 'warning',
                    title: 'Oops !!',
                    text: 'You cant use the coupon...Buy more'
                  })
                } else if (response.amountOkey) {
                 
                  document.getElementById('total').innerHTML= "₹ "+response.disTotal 
                  
                
                  document.getElementById('subtotal').innerHTML = "₹ "+response.disTotal
                  document.getElementById('discount').innerHTML = "₹ "+response.disAmount
                  document.getElementById('apply').style.display = "none"
                  document.getElementById('unApply').style.display = "block"
                  document.getElementById('disCol').style.display = ""
                  document.getElementById('appliedBadge').style.display = ""
                  document.getElementById('couponcode').value=code
                  Swal.fire({
                    position: 'center',
                    icon: 'success',
                    title: 'Discount redeemed',
                    showConfirmButton: false,
                    timer: 1500
                  })
                  
                } else {
                  Swal.fire({
                    icon: 'error',
                    title: 'Oops !!!',
                    text: 'Invalid Coupon!!!'
                  })
                }
              }
            })
          }
          </script>



<script>
const primaryCheckbox = document.getElementById("first");
const secondaryCheckbox = document.getElementById("second");


// Add an event listener to the checkboxes
primaryCheckbox.addEventListener("change", change);
secondaryCheckbox.addEventListener("change", change);

// Define the change function
function change() {
    // Get the selected value
    const selectedValue = document.querySelector('input[name="address"]:checked').value;

    // Get the address object based on the selected value (you'll need to define your address object)
    let selectedAddress;
    

   
    if (selectedValue === "primary") {

        document.getElementById('name').value= "<%= address.PrimaryAddress.Name%>"
        document.getElementById('country').value= "<%= address.PrimaryAddress.Country%>"
        document.getElementById('landmark').value= "<%= address.PrimaryAddress.Landmark%>"
        document.getElementById('city').value= "<%= address.PrimaryAddress.City%>"
        document.getElementById('sc').value= "<%= address.PrimaryAddress.States%>,<%= address.PrimaryAddress.Country %>"
        document.getElementById('pin').value= "<%= address.PrimaryAddress.Pincode%>"
        document.getElementById('phone').value= "<%= address.PrimaryAddress.Phone%>"
    } else if (selectedValue === "secondary") {
        document.getElementById('name').value= "<%= address.SecondaryAddress.Name%>"
        document.getElementById('country').value= "<%= address.SecondaryAddress.Country%>"
        document.getElementById('landmark').value= "<%= address.SecondaryAddress.Landmark%>"
        document.getElementById('city').value= "<%= address.SecondaryAddress.City%>"
        document.getElementById('sc').value= "<%= address.SecondaryAddress.States%>,<%= address.PrimaryAddress.Country %>"
        document.getElementById('pin').value= "<%= address.SecondaryAddress.Pincode%>"
        document.getElementById('phone').value= "<%= address.SecondaryAddress.Phone%>"
    }

}


</script>
<script src="https://checkout.razorpay.com/v1/checkout.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10.14.0/dist/sweetalert2.all.min.js"></script>

<script>
    
    let codes = 
    
    document.getElementById('the-checkout-form').addEventListener('submit', (e) => {
        console.log("AAh pressed");
        e.preventDefault();
        $.ajax({
            url: `/saveorder?code=${document.getElementById('couponcode').value}`,
            method: "post",
            data: $("#the-checkout-form").serialize(),
            success: ((response) => {
               
                if (response.codsuccess) {
                    swal.fire({
            positon: "center",
            icon: "success",
            title: "do you want to make payment",
            showConfirmButton: true,
            timer: 1500,
          });
                    location.href = "/placeorder"
                } else {
                    console.log(response);
                    razorpayPayment(response)
                }
            })
        })
    })

    function razorpayPayment(order) {
        var options = {
            "key": "rzp_test_f0CUyOMdkz5Ems",
            "amount": order.amount,
            "currency": "INR",
            "name": "ELECTROMANIA",
            "description": "Test transaction for " + order.receipt,
            "order_id": order.id,
            "handler": function (response) {
                // alert(response.razorpay_payment_id);
                // alert(response.razorpay_order_id);
                // alert(response.razorpay_signature);

                verifyPayment(response, order);
            },
            "prefill": {
                "name": "electromania",
                "email": "electromania@example.com",
                "contact": "9000090000"
            },
            "notes": {
                "address": "Razorpay Corporate Office"
            },
            "theme": {
                "color": "#3399cc"
            }
        };

        var rzp1 = new Razorpay(options);
        rzp1.open();  // corrected the variable name here
    }
    function verifyPayment(payment, order) {
    const amount2 = document.getElementById("total").innerHTML;
    $.ajax({
      url: "/verify-payment",
      method: "post",
      data: {
        payment: payment,
        amount2: amount2,
        order: order,
      },
      success: (response) => {
        response.orderid
        if (response.codsuccess) {
          location.href = '/placeorder?oid=response.orderid';
        } else {
          swal.fire({
            positon: "center",
            icon: "error",
            title: "Payment failed",
            showConfirmButton: false,
            timer: 1500,
          });
        }
      },
    });
  }
</script>


<%- include('footer.ejs') %>
