<%- include('header.ejs') %>
<div class="page-wrapper">
    <header class="header">
        <div class="header-top">
            <div class="container">
                <div class="header-left">

                </div><!-- End .header-left -->

                <div class="header-right">
                    <ul class="top-menu">
                        <li>
                            
                            <ul>
                                
                                
                               
                               
                                
                            </ul>
                        </li>
                    </ul><!-- End .top-menu -->
                </div><!-- End .header-right -->
            </div><!-- End .container -->
        </div><!-- End .header-top -->

        <div class="header-middle sticky-header">
            <div class="container">
                <div class="header-left">
                    <button class="mobile-menu-toggler">
                        <span class="sr-only">Toggle mobile menu</span>
                        <i class="icon-bars"></i>
                    </button>

                    <a href="" class="logo">
                        <img src="images/Screenshot 2023-09-12 110622.png" alt="Molla Logo" width="140" height="40" style="margin-top:.5em ;">
                    </a>

                    <nav class="main-nav">
                        <ul class="menu ">
                            <li class="megamenu-container active">
                                <a href="/" >Home</a>

                                
                            </li>
                            <li>
                                <a href="/shop" >Shop</a>

                                <!-- End .megamenu megamenu-md -->
                            </li>
                            <li>
                                <li>
                                    <% if(cookie) { %>
                                        <% if(wishlist) { %>
                                    <a href="/wishlist"><i class="icon-heart-o"></i> &nbsp My Wishlist 
                                            
                                        <span>(<%= wishlist.Products.length %>)</span>
                                    </a>
                                    <% }else{ %>
                                        <a href="/wishlist"><i class="icon-heart-o"></i> &nbsp My Wishlist 
                                            
                                            <span>(0)</span>
                                        </a>
                                        <% } %>
                                    <% } else { %>
                                        <a href="/wishlist"><i class="icon-heart-o"></i> &nbsp My Wishlist 
                                            
                                            
                                        </a>

                                        <% } %>

                                </li>

                                <!-- End .megamenu megamenu-sm -->
                            </li>
                            <li>
                                <a href="/getorder" >My orders</a>

                                <!-- End .megamenu megamenu-md -->
                            </li>
                            <li>
                                <li>
                                    <%if(cookie) { %>
                                        <a href="/dash"><i class="icon-user"></i> &nbsp <%= cookie.name %></a>
                                        <% } else { %>
                                        <a href="/dash"><i class="icon-user"></i> &nbsp Profile</a>
                                        <% } %>

                                    </li>


                            </li>
                            <li>
                                <li>
                                  <%  if(cookie) { %>
                                    <a href="/logout" style="color: red;">Logout</a>
                                    <% }else { %>
                                    <a href="/sin" style="color: red;">Login</a>
                                    <% } %>
                                </li>
                                
                            </li>
                        </ul><!-- End .menu -->
                    </nav><!-- End .main-nav -->
                </div><!-- End .header-left -->

                <div class="header-right">
                    <div class="header-search">
                        <a href="" class="search-toggle" role="button" title="Search"><i class="icon-search"></i></a>
                        <form action="/shop" method="get">
                            <div class="header-search-wrapper">
                                <label for="search" class="sr-only">Search</label>
                                <input type="search" class="form-control" name="search" id="Productsearch" placeholder="Search in..." required>
                                <button type="submit" class="btn btn-primary"><i class="icon-search" style="color: rgb(0, 0, 0);"></i></button>
                            </div><!-- End .header-search-wrapper -->
                        </form>
                    </div><!-- End .header-search -->

                    <div class="dropdown cart-dropdown">
                        <% if(cookie) { %>
                        <a href="/viewcart" class="dropdown-toggle" role="button"  aria-haspopup="true" aria-expanded="false" data-display="static">
                            <i class="icon-shopping-cart"></i>
                        
                            <% if(cart){ %>
                                <span class="cart-count"><%= cart.length %></span>
                            <% }else{ %>
                                <span class="cart-count">0</span>
                            
                            <% } %>
                        </a>
                        
                    <% }else{ %>
                        <a href="/viewcart" class="dropdown-toggle" role="button"  aria-haspopup="true" aria-expanded="false" data-display="static">
                            <i class="icon-shopping-cart"></i>
                        </a>
                   <% } %>
                    </div><!-- End .cart-dropdown -->
                </div><!-- End .header-right -->
            </div><!-- End .container -->
        </div><!-- End .header-middle -->
    </header><!-- End .header -->

    <main class="main">
        <div class="intro-section bg-lighter pt-5 pb-6">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12" >
                        <div class="intro-slider-container slider-container-ratio slider-container-1 mb-2 mb-lg-0">
                            <div class="intro-slider intro-slider-1 owl-carousel owl-simple owl-light owl-nav-inside" data-toggle="owl" data-owl-options='{
                                    "nav": false, 
                                    "responsive": {
                                        "768": {
                                            "nav": true
                                        }
                                    }
                                }'>
                                <% if(banner) { %>
                                <% for(var i = 0; i <banner.length; i++) { %>
                                <div class="intro-slide">
                                    <figure class="slide-image" style="object-fit: cover; " >
                                        <picture>
                                            <source media="(max-width: 280px)" srcset="assets/images/slider/slide-1-480w.jpg">
                                            <img src="<%= banner[i].ImagePath[0] %>" alt="Image Desc">
                                        </picture>
                                    </figure><!-- End .slide-image -->

                                    <div class="intro-content">
                                        <h3 class="intro-subtitle"></h3><!-- End .h3 intro-subtitle -->
                                        <h1 class="intro-title"><%= banner[i].matter %></h1><!-- End .intro-title -->

                                        <a href="/shop" class="btn btn-outline-white">
                                            <span>SHOP NOW</span>
                                            <i class="icon-long-arrow-right"></i>
                                        </a>
                                    </div><!-- End .intro-content -->
                                </div><!-- End .intro-slide -->
                                <% } %>
                                <% }else{ %>
                                    <div class="intro-slide">
                                        <figure class="slide-image" style="object-fit: cover; " >
                                            <picture>
                                                <source media="(max-width: 280px)" srcset="assets/images/slider/slide-1-480w.jpg">
                                                <img src="/assets/images/slider/slide-1-480w.jpg" alt="Image Desc">
                                            </picture>
                                        </figure><!-- End .slide-image -->
    
                                        <div class="intro-content">
                                            <h3 class="intro-subtitle"></h3><!-- End .h3 intro-subtitle -->
                                            <h1 class="intro-title"><%= banner[i].matter %></h1><!-- End .intro-title -->
    
                                            <a href="/shop" class="btn btn-outline-white">
                                                <span>SHOP NOW</span>
                                                <i class="icon-long-arrow-right"></i>
                                            </a>
                                        </div><!-- End .intro-content -->
                                    </div><!-- End .intro-slide -->

                                    <% } %>

                                <!-- End .intro-slide -->

                                <!-- End .intro-slide -->
                            </div><!-- End .intro-slider owl-carousel owl-simple -->
                            
                            <span class="slider-loader"></span><!-- End .slider-loader -->
                        </div><!-- End .intro-slider-container -->
                    </div><!-- End .col-lg-8 -->
                   <!-- End .col-lg-4 -->
                </div><!-- End .row -->

                <div class="mb-6"></div><!-- End .mb-6 -->

           
        <div class="container categories pt-6">
            <h2 class="title-lg text-center mb-4">Shop by Categories</h2><!-- End .title-lg text-center -->

            <div class="row" >
                <% for(i=0;i<cata.length;i++) { %>

                <div class="col-6   col-lg-4"  >
                    <div class=" banner-display banner-link-anim"  style="max-width: 500px; object-fit: contain ;">
                        <a href="#" >
                            <img src="<%= cata[i].ImagePath[0] %>" alt="Banner" style="height:unset;">
                        </a>

                        <div class="banner-content banner-content-center">
                            <h3 class="banner-title text-white"><a href="#"><%= cata[i].catagory %></a></h3><!-- End .banner-title -->
                            <a href="/shop/?name=<%= cata[i]._id %>" class="btn btn-outline-white banner-link">Shop Now<i class="icon-long-arrow-right"></i></a>
                        </div><!-- End .banner-content -->
                    </div><!-- End .banner -->
                </div><!-- End .col-sm-6 col-lg-3 -->
                <% } %>
            </div><!-- End .row -->
        </div><!-- End .container -->

        <div class="mb-5"></div><!-- End .mb-6 -->

     
        
        <div class="container">
            <div class="heading heading-center mb-6">
                <h2 class="title">Recent Arrivals</h2><!-- End .title -->

                
            </div><!-- End .heading -->






            <div class="tab-content">



                <div class="tab-pane  fade show active" id="top-all-tab" role="tabpanel" aria-labelledby="top-all-link">
                    <div class="products">
                        <div class="row ">




                            <% for(let i=0; i<product.length; i++){ %>
                            <div class="col-6 col-md-4 col-lg-3">
                                <div class="product product-11 mt-v3 text-center mb-5">
                                    <figure class="product-media" style="max-height: 280px; object-fit: contain;" >
                                        <a href="/productdetials/<%= product[i]._id %>">
                                            <img src="<%= product[i].Imagepath[0] %>" alt="Product image" class="product-image">
                                            <img src="<%= product[i].Imagepath[1] %>" alt="Product image" class="product-image-hover">
                                        </a>

                                        <div class="product-action-vertical">
                                            <a href="/addwish?id=<%= product[i]._id  %>" class="btn-product-icon btn-wishlist "><span>add to wishlist</span></a>
                                        </div><!-- End .product-action-vertical -->
                                    </figure><!-- End .product-media -->

                                    <div class="product-body">
                                        <h3 class="product-title"><a href="/productdetials/<%= product[i]._id %>"><%= product[i].Productname%></a></h3><!-- End .product-title -->
                                        <div class="product-price">
                                            ₹ <%= product[i].Price-product[i].Discount%>
                                        </div><!-- End .product-price -->

                                        <div class="product-nav product-nav-dots" style="color: rgb(198, 25, 6); text-decoration: line-through;">
                                           <p>Original price :</p>₹ <%= product[i].Price %>
                                        </div>
                                        <br>
                                        <% if(product[i].Stoke<=1 ){ %>

                                                <p style="color: red;">!! Out of Stock !!</p>
                                             
                                       <% }else if(product[i].Stoke<5){  %>
                                            <p style="color: rgb(255, 183, 0);">!!Only Few Left!!</p>
                                            <% } %>
                                    </div><!-- End .product-body -->
                                    <div class="product-action">
                                        <a href="/addtocarthome/<%= product[i]._id %>" class="btn-product btn-cart"><span>add to cart</span></a>
                                    </div><!-- End .product-action -->
                                </div><!-- End .product -->
                            </div><!-- End .col-sm-6 col-md-4 col-lg-3 -->
                            <% } %>




                            


                            </div><!-- End .row -->
                        </div><!-- End .products -->
                    </div><!-- .End .tab-pane -->
                   




            </div><!-- End .tab-content -->
            <div class="more-container text-center">
                <a href="/shop" class="btn btn-outline-darker btn-more"><span>Load more products</span><i class="icon-long-arrow-down"></i></a>
            </div><!-- End .more-container -->
        </div><!-- End .container -->

        <div class="container">
            <hr>
            <div class="row justify-content-center">
                <div class="col-lg-4 col-sm-6">
                    <div class="icon-box icon-box-card text-center">
                        <span class="icon-box-icon">
                            <i class="icon-rocket"></i>
                        </span>
                        <div class="icon-box-content">
                            <h3 class="icon-box-title">Payment & Delivery</h3><!-- End .icon-box-title -->
                            <p>Free shipping for orders over $50</p>
                        </div><!-- End .icon-box-content -->
                    </div><!-- End .icon-box -->
                </div><!-- End .col-lg-4 col-sm-6 -->

                <div class="col-lg-4 col-sm-6">
                    <div class="icon-box icon-box-card text-center">
                        <span class="icon-box-icon">
                            <i class="icon-rotate-left"></i>
                        </span>
                        <div class="icon-box-content">
                            <h3 class="icon-box-title">Return & Refund</h3><!-- End .icon-box-title -->
                            <p>Free 100% money back guarantee</p>
                        </div><!-- End .icon-box-content -->
                    </div><!-- End .icon-box -->
                </div><!-- End .col-lg-4 col-sm-6 -->

                <div class="col-lg-4 col-sm-6">
                    <div class="icon-box icon-box-card text-center">
                        <span class="icon-box-icon">
                            <i class="icon-life-ring"></i>
                        </span>
                        <div class="icon-box-content">
                            <h3 class="icon-box-title">Quality Support</h3><!-- End .icon-box-title -->
                            <p>Alway online feedback 24/7</p>
                        </div><!-- End .icon-box-content -->
                    </div><!-- End .icon-box -->
                </div><!-- End .col-lg-4 col-sm-6 -->
            </div><!-- End .row -->

            <div class="mb-2"></div><!-- End .mb-2 -->
        </div><!-- End .container -->
        
        <div class="cta cta-display bg-image pt-4 pb-4" style="background-image: url(assets/images/backgrounds/cta/bg-6.jpg);">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-10 col-lg-9 col-xl-8">
                        <div class="row no-gutters flex-column flex-sm-row align-items-sm-center">
                            <div class="col">
                                <h3 class="cta-title text-white">Sign Up & Get unbeleivable  Off</h3><!-- End .cta-title -->
                            </div><!-- End .col -->

                            <div class="col-auto">
                                <a href="/sin" class="btn btn-outline-white"><span>SIGN UP</span><i class="icon-long-arrow-right"></i></a>
                            </div><!-- End .col-auto -->
                        </div><!-- End .row no-gutters -->
                    </div><!-- End .col-md-10 col-lg-9 -->
                </div><!-- End .row -->
            </div><!-- End .container -->
        </div><!-- End .cta -->
    </main><!-- End .main -->

    <footer class="footer footer" style="color: black;">
        <div class="footer-middle">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-lg-3">
                        <div class="widget widget-about">
                            <img src="/images/Screenshot 2023-09-12 110622.png" class="footer-logo" alt="Footer Logo" width="105" height="25">
                            <p style="color: black;">ELECTRO MANIA the perfect choice for digital world  </p>

                            <div class="social-icons">
                                <a href="https://www.instagram.com/mohd_sharhan_/#" class="social-icon" title="Facebook" target="_blank"><i class="icon-facebook-f"></i></a>
                                <a href="https://www.instagram.com/mohd_sharhan_/#" class="social-icon" title="Twitter" target="_blank"><i class="icon-twitter"></i></a>
                                <a href="https://www.instagram.com/mohd_sharhan_/#" class="social-icon" title="Instagram" target="_blank"><i class="icon-instagram"></i></a>
                                <a href="https://www.instagram.com/mohd_sharhan_/#" class="social-icon" title="Youtube" target="_blank"><i class="icon-youtube"></i></a>
                                <a href="https://www.instagram.com/mohd_sharhan_/#" class="social-icon" title="Pinterest" target="_blank"><i class="icon-pinterest"></i></a>
                            </div><!-- End .soial-icons -->
                        </div><!-- End .widget about-widget -->
                    </div><!-- End .col-sm-6 col-lg-3 -->

                    <div class="col-sm-6 col-lg-3">
                        <div class="widget">
                            <h4 class="widget-title">Useful Links</h4><!-- End .widget-title -->

                            <ul class="widget-list">
                                <li><a href="about.html">About Molla</a></li>
                                <li><a href="#">How to shop on Molla</a></li>
                                <li><a href="#">FAQ</a></li>
                                <li><a href="contact.html">Contact us</a></li>
                                <li><a href="login.html">Log in</a></li>
                            </ul><!-- End .widget-list -->
                        </div><!-- End .widget -->
                    </div><!-- End .col-sm-6 col-lg-3 -->

                    <div class="col-sm-6 col-lg-3">
                        <div class="widget">
                            <h4 class="widget-title">Customer Service</h4><!-- End .widget-title -->

                            <ul class="widget-list">
                                <li><a href="#">Payment Methods</a></li>
                                <li><a href="#">Money-back guarantee!</a></li>
                                <li><a href="#">Returns</a></li>
                                <li><a href="#">Shipping</a></li>
                                <li><a href="#">Terms and conditions</a></li>
                                <li><a href="#">Privacy Policy</a></li>
                            </ul><!-- End .widget-list -->
                        </div><!-- End .widget -->
                    </div>

                    <div class="col-sm-6 col-lg-3">
                        <div class="widget">
                            <h4 class="widget-title">My Account</h4><!-- End .widget-title -->

                            <ul class="widget-list">
                                <li><a href="/sin">Sign In</a></li>
                                <li><a href="/viewcart">View Cart</a></li>
                                <li><a href="/wishlist">My Wishlist</a></li>
                                <li><a href="/getorder">Track My Order</a></li>
                                
                            </ul><!-- End .widget-list -->
                        </div><!-- End .widget -->
                    </div><!-- End .col-sm-6 col-lg-3 -->
                </div><!-- End .row -->
            </div><!-- End .container -->
        </div><!-- End .footer-middle -->

        <div class="footer-bottom">
            <div class="container">
                <p class="footer-copyright">Copyright © 2019 ELECTRO MANIA Store. All Rights Reserved.</p><!-- End .footer-copyright -->
                <figure class="footer-payments">
                    <img src="assets/images/payments.png" alt="Payment methods" width="272" height="20">
                </figure><!-- End .footer-payments -->
            </div><!-- End .container -->
        </div><!-- End .footer-bottom -->
    </footer><!-- End .footer -->
</div><!-- End .page-wrapper -->
<button id="scroll-top" title="Back to Top"><i class="icon-arrow-up"></i></button>

<!-- Mobile Menu -->
<div class="mobile-menu-overlay"></div><!-- End .mobil-menu-overlay -->

<div class="mobile-menu-container">
    <div class="mobile-menu-wrapper">
        <span class="mobile-menu-close"><i class="icon-close"></i></span>

        <form action="/shop" method="get" class="mobile-search">
            <label for="mobile-search" class="sr-only">Search</label>
            <input type="search" class="form-control" name="search" id="mobile-search" placeholder="Search in..." required>
            <button class="btn btn-primary" type="submit"><i class="icon-search"></i></button>
        </form>
        
        <nav class="mobile-nav">
            <ul class="mobile-menu">
                <li class="active">
                    <a href="/">Home</a>

                    
                <li>
                    <a href="/shop">Shop</a>
                    
                </li>
                <li>
                    <a href="/getorder" >My orders</a>
                </li>
                <li>
                    <% if(cookie) { %>
                        <% if(wishlist) { %>
                    <a href="/wishlist"><i class="icon-heart-o"></i> &nbsp My Wishlist 
                            
                        <span>(<%= wishlist.Products.length %>)</span>
                    </a>
                    <% }else{ %>
                        <a href="/wishlist"><i class="icon-heart-o"></i> &nbsp My Wishlist 
                            
                            <span>(0)</span>
                        </a>
                        <% } %>
                    <% } else { %>
                        <a href="/wishlist"><i class="icon-heart-o"></i> &nbsp My Wishlist 
                            
                            
                        </a>

                        <% } %>
                   
                    
                </li>
                
                <li>
                    
                        
                    <%if(cookie) { %>
                        <a href="/dash"><i class="icon-user"></i> &nbsp <%= cookie.name %></a>
                        <% } else { %>
                        <a href="/dash"><i class="icon-user"></i> &nbsp Profile</a>
                        <% } %>
                        </li>
                    
                        
                       
                        
                    
                <li>
                    <%  if(cookie) { %>
                        <a href="/logout" style="color: red;">Logout</a>
                        <% }else { %>
                        <a href="/sin" style="color: red;">Login</a>
                        <% } %>
                </li>
        </nav><!-- End .mobile-nav -->

        <div class="social-icons">
            <a href="" class="social-icon" target="_blank" title="Facebook"><i class="icon-facebook-f"></i></a>
            <a href="" class="social-icon" target="_blank" title="Twitter"><i class="icon-twitter"></i></a>
            <a href="" class="social-icon" target="_blank" title="Instagram"><i class="icon-instagram"></i></a>
            <a href="" class="social-icon" target="_blank" title="Youtube"><i class="icon-youtube"></i></a>
        </div><!-- End .social-icons -->
    </div><!-- End .mobile-menu-wrapper -->
</div><!-- End .mobile-menu-container -->

<!-- Sign in / Register Modal -->
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10.14.0/dist/sweetalert2.all.min.js"></script>

<% if(error){ %>
    <script>
    Swal.fire({
      title: "error",
      text: '<%= error %>',
      icon: "error",
      confirmButtonText: "OK"
    });
    </script>
    <% } %>
                            
<!-- Plugins JS File -->
<script src="/assets/js/jquery.min.js"></script>
    <script src="/assets/js/bootstrap.bundle.min.js"></script>
    <script src="/assets/js/jquery.hoverIntent.min.js"></script>
    <script src="/assets/js/jquery.waypoints.min.js"></script>
    <script src="/assets/js/superfish.min.js"></script>
    <script src="/assets/js/owl.carousel.min.js"></script>
    <script src="/assets/js/bootstrap-input-spinner.js"></script>
    <script src="/assets/js/jquery.elevateZoom.min.js"></script>
    <script src="/assets/js/bootstrap-input-spinner.js"></script>
    <script src="/assets/js/jquery.magnific-popup.min.js"></script>
    <!-- Main JS File -->
    <script src="/assets/js/main.js"></script>
<!-- Main JS File -->
<%- include('footer.ejs') %>