<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<%- include('header.ejs') %>

    <div class="page-wrapper">
        <main class="main">
            <div class="page-header text-center" style="background-image: url('assets/images/page-header-bg.jpg')">
                <div class="container-fluid">
                    <h1 class="page-title"><span>ELECTRO MANIA</span></h1>
                </div><!-- End .container -->
            </div><!-- End .page-header -->
            <nav aria-label="breadcrumb" class="breadcrumb-nav">
                <div class="container-fluid">
                    <ol class="breadcrumb">
                    
                    
                        <li class="breadcrumb-item active" aria-current="page"><a href="/getcancel"><button class="btn btn-primary" style="background-color: red;">Cancelled orders</button></a></li>
                    </ol>
                </div>
                <div class="container-fluid">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/">Home</a></li>
                        
                        <li class="breadcrumb-item active" aria-current="page">Orders</li>
                    </ol>
                    
                </div>
                


                <!-- End .container -->

            </nav><!-- End .breadcrumb-nav -->

            <div class="page-content">
                <div class="cart">
                    <div class="container-fluid">
                        <div class="row">


                            





                            <div class="show" style="display: none;">
                                <div><button class="btn btn-danger closeBtn">close</button></div>
                                <div class="formDiv">
                                    <h6 class="text-center">Order cancellation for pod</h6>
                                    <br>
                                    <p class="aerror" style="text-align: center; color: red;"> </p>
                                    <form action="/removepod" method="post">
                                        <div class="mb-3">
                                            <label class="form-label">Orderid </label>
                                            <input type="text"  class="form-control id" name="id" value="" > 
                                        </div>
                                        
                                        <div class="mb-3">
                                            <label class="form-label">Order of MR/MRS</label>
                                            <input type="text"  class="form-control ordername" name="ordername" value="" >
                                        </div>
                                        <label>Reason for the cancellation</label>
                                        <div class="form-floating mb-3">
                                           
                                            <textarea class="form-control" name="desc" placeholder="Leave the reason"
                                                id="floatingTextarea"></textarea>
                                        </div>
                                        
                                        <button type="submit" class="btn btn-primary">Cancel order</button>
                                    </form>
                                </div>
                            </div>
                            <div class="col-lg-12" id="table">
                                <% if(orders.length==0){ %>
                                <h6>
                                    You have no orders yet.
                                </h6>
                                <% } else { %>
                                    <table class="table table-cart table-mobile" >
                                        <thead>
                                            <tr>
                                                <th>Delivery address</th>
            
                                                <th>Expected Delivery </th>
                                                <th>Cancel Order</th>
                                                <th>View order</th>
                                                <th>Status</th>
                                                
                                                
                                            </tr>
                                        </thead>
                                    
    
                                        <% orders.map((order)=>{ %>

                                        <% if(order.Status=='delivered'){ %>
                                            <tbody>
                                            
                                               
                                                
                                                    <tr>
                                                        <td>
                                                            
                                                            
                                                            
                                                            Ordered on : <%= order.Orderdate.toDateString() %>
                                                            <p>Delivery address : <br> <%= order.Deliveryaddress.cname %> <br>  <%= order.Deliveryaddress.landmark %>,<%= order.Deliveryaddress.streetaddress %> <br> <%= order.Deliveryaddress.city %>,<%= order.Deliveryaddress.state %><br><%= order.Deliveryaddress.pincode %> </p>
                                                                    
                                                            <!-- End .product -->
                                                        </td>
                                                        
                                                        <td><h6 style="color: green;">Delivered on: <%
                                                            let fdate=new Date(order.Orderdate);
                                                            fdate.setDate(fdate.getDate()+3) %>
                                                            <%= fdate.toDateString() %></h6>
                                                            <br>
                                                            <h6>Payment method :  <%= order.Items[0].Payment %></h6></td>
                                                        
                                                        
                                                        
                                                        
                                                        
                                                        <td ><a 
                                                                href="/vieworder?id=<%= order._id %>"><button
                                                                    class="btn-primary" style="border: 1px solid black;">View details</button></a></td>
                                                                    <td >
                                                                        <button
                                                                                class=" btn-danger return" onclick="editreturn('<%= order._id %>','<%= order.Username %>')" style="border: 1px solid black;">Return order</button>
                                                                    </td>
                                                                    <td><button style=" background: transparent; border: 1px solid green; color: green;"><%= order.Status %></button></td>
                                                    </tr>
                                                    
                                                        
                                                    
                                                    
                                                        
                                                           
                                    </tbody>
                                        <% }else{ %>
                                        <tbody>
                                            
                                               
                                                    
                                                        <tr>
                                                            <td>
                                                                
                                                                
                                                                
                                                                Ordered on : <%= order.Orderdate.toDateString() %>
                                                                <p>Delivery address : <br> <%= order.Deliveryaddress.cname %> <br>  <%= order.Deliveryaddress.landmark %>,<%= order.Deliveryaddress.streetaddress %> <br> <%= order.Deliveryaddress.city %>,<%= order.Deliveryaddress.state %><br><%= order.Deliveryaddress.pincode %> </p>
                                                                        
                                                                <!-- End .product -->
                                                            </td>
                                                            
                                                            <td><h6 style="color: green;">Arriving: <%
                                                                let fdate=new Date(order.Orderdate);
                                                                fdate.setDate(fdate.getDate()+3) %>
                                                                <%= fdate.toDateString() %></h6>
                                                            <br>
                                                            <h6>Payment method :  <%= order.Items[0].Payment %></h6>
                                                            </td>
                                                            
                                                            
                                                            
                                                            
                                                            
                                                            <td ><a 
                                                                    href="/vieworder?id=<%= order._id %>"><button
                                                                        class="btn-primary" style="border: 1px solid black;" >View details</button></a></td>
                                                                        <td >
                                                                            <% if(order.Items[0].Payment =='cod'){ %>
                                                                                <button class=" btn-danger" onclick="CancelConfirmation(event,'<%= order._id %>')" style="border: 1px solid black;">Cancel order</button>
                                                                            <% }else { %>
                                                                                <button class="btn-danger click"  onclick="editpod('<%= order._id %>','<%= order.Username %>')" style="border: 1px solid black;">Cancel  porder</button>

                                                                            <% } %>
                                                                        </td>
                                                                        <td><button style=" background: transparent; border: 1px solid blue; color: blue;"><%= order.Status %></button></td>
                                                        </tr>
                                                        
                                                            
                                                        
                                                        
                                                            
                                                               
                                        </tbody>
                                   <%  } %>
                                   <% }) %>
                                    </table>
                                    
                                    <% } %>
                                    <div class="popup" id="popup" style="display: none;">
                                        <div><button class="btn btn-danger " id="close">close</button></div>
                                        <div class="formDiv">
                                            <h6 class="text-center">Return Order</h6>
                                            <br>
                                            <p class="aerror" style="text-align: center; color: red;"> </p>
                                            <form action="/return" method="post">
                                                <div class="mb-3">
                                                    <label class="form-label">Orderid </label>
                                                    <input type="text" id="id" class="form-control" name="id" value="" > 
                                                </div>
                                                
                                                <div class="mb-3">
                                                    <label class="form-label">Order of MR/MRS</label>
                                                    <input type="text" id="ordername" class="form-control" name="ordername" value="" >
                                                </div>
                                                <label>Reason for the Return</label>
                                                <div class="form-floating mb-3">
                                                   
                                                    <textarea class="form-control" name="desc" placeholder="Leave the reason"
                                                        id="floatingTextarea"></textarea>
                                                </div>
                                                
                                                <button type="submit" class="btn btn-primary">Return Order</button>
                                            </form>
                                        </div>
                                    </div>

                                    

                            



                        </div><!-- End .row -->
                        
                    </div><!-- End .container -->
                </div><!-- End .cart -->
            </div><!-- End .page-content -->
        </main><!-- End .main -->

        <footer class="footer footer" style="color: black;">
            <div class="footer-middle">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6 col-lg-3">
                            <div class="widget widget-about">
                                <img src="/images/Screenshot 2023-09-12 110622.png" class="footer-logo" alt="Footer Logo" width="105" height="25">
                                <p style="color: black;">ELECTRO MANIA the perfect choice for digital world  </p>
    
                                <div class="social-icons">
                                    <a href="https://www.instagram.com/mohd_sharhan_/#" class="social-icon" title="Facebook" target="_blank"><i class="icon-facebook-f"></i></a>
                                    <a href="https://www.instagram.com/mohd_sharhan_/#" class="social-icon" title="Twitter" target="_blank"><i class="icon-twitter"></i></a>
                                    <a href="https://www.instagram.com/mohd_sharhan_/#" class="social-icon" title="Instagram" target="_blank"><i class="icon-instagram"></i></a>
                                    <a href="https://www.instagram.com/mohd_sharhan_/#" class="social-icon" title="Youtube" target="_blank"><i class="icon-youtube"></i></a>
                                    <a href="https://www.instagram.com/mohd_sharhan_/#" class="social-icon" title="Pinterest" target="_blank"><i class="icon-pinterest"></i></a>
                                </div><!-- End .soial-icons -->
                            </div><!-- End .widget about-widget -->
                        </div><!-- End .col-sm-6 col-lg-3 -->
    
                        <div class="col-sm-6 col-lg-3">
                            <div class="widget">
                                <h4 class="widget-title">Useful Links</h4><!-- End .widget-title -->
    
                                <ul class="widget-list">
                                    <li><a href="about.html">About Molla</a></li>
                                    <li><a href="#">How to shop on Molla</a></li>
                                    <li><a href="#">FAQ</a></li>
                                    <li><a href="contact.html">Contact us</a></li>
                                    <li><a href="login.html">Log in</a></li>
                                </ul><!-- End .widget-list -->
                            </div><!-- End .widget -->
                        </div><!-- End .col-sm-6 col-lg-3 -->
    
                        <div class="col-sm-6 col-lg-3">
                            <div class="widget">
                                <h4 class="widget-title">Customer Service</h4><!-- End .widget-title -->
    
                                <ul class="widget-list">
                                    <li><a href="#">Payment Methods</a></li>
                                    <li><a href="#">Money-back guarantee!</a></li>
                                    <li><a href="#">Returns</a></li>
                                    <li><a href="#">Shipping</a></li>
                                    <li><a href="#">Terms and conditions</a></li>
                                    <li><a href="#">Privacy Policy</a></li>
                                </ul><!-- End .widget-list -->
                            </div><!-- End .widget -->
                        </div>
    
                        <div class="col-sm-6 col-lg-3">
                            <div class="widget">
                                <h4 class="widget-title">My Account</h4><!-- End .widget-title -->
    
                                <ul class="widget-list">
                                    <li><a href="/sin">Sign In</a></li>
                                    <li><a href="/viewcart">View Cart</a></li>
                                    <li><a href="/wishlist">My Wishlist</a></li>
                                    <li><a href="/getorder">Track My Order</a></li>
                                    
                                </ul><!-- End .widget-list -->
                            </div><!-- End .widget -->
                        </div><!-- End .col-sm-6 col-lg-3 -->
                    </div><!-- End .row -->
                </div><!-- End .container -->
            </div><!-- End .footer-middle -->
    
            <div class="footer-bottom">
                <div class="container">
                    <p class="footer-copyright">Copyright © 2019 ELECTRO MANIA Store. All Rights Reserved.</p><!-- End .footer-copyright -->
                    <figure class="footer-payments">
                        <img src="assets/images/payments.png" alt="Payment methods" width="272" height="20">
                    </figure><!-- End .footer-payments -->
                </div><!-- End .container -->
            </div><!-- End .footer-bottom -->
        </footer><!-- End .footer -->
    </div><!-- End .page-wrapper -->
    
        
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10.14.0/dist/sweetalert2.all.min.js"></script>
    <% if(cancelid){ %>
        <script>
        Swal.fire({
          title: "success",
          text: "The order has been cancelled and the payment has been credited to your wallet",
          icon: "success",
          confirmButtonText: "OK"
        });
        </script>
        <% } %>
    <script>
    $(document).ready(() => {
        $(".click").click(() => {
            $(".show").toggle(200);
            $("#table").toggle(200);
        })
        $(".closeBtn").click(() => {
            $(".show").toggle(200);
            $("#table").toggle(200);
            

        })
    })
    </script>
    

        
    <script>
        function CancelConfirmation(event, pid) {
          event.preventDefault(); // Prevent the default link behavior
        
          // Show a Swal confirmation pop-up
          Swal.fire({
            title: "Are you sure?",
            text: "Do you want to cancel the order!",
            icon: "warning",
            showCancelButton: true,
            confirmButtonColor: "#d33",
            cancelButtonColor: "#3085d6",
            confirmButtonText: "Yes, Cancel it!",
          }).then((result) => {
            if (result.isConfirmed) {
              // If the user confirms, proceed with the deletion
              window.location.href = `/removeorder?id=${pid}`;
              
            }
          });
        }
        </script> 
    <script>
   
         function editpod(orderid,ordername){
            document.querySelector('.id').value =orderid ;
     document.querySelector('.ordername').value = ordername; 
         }   
        
    
    function editreturn(orderid,ordername) {
     
     document.querySelector('#id').value =orderid ;
     document.querySelector('#ordername').value = ordername; 
 }
 
</script>

<script>
    $(document).ready(() => {
        $(".return").click(() => {
            $("#popup").toggle(200);
            $("#table").toggle(200);
        })
        $("#close").click(() => {
            $("#popup").toggle(200);
            $("#table").toggle(200);
            

        })
    })
    </script>




        
    <%- include('footer.ejs') %>