<%- include('header.ejs') %>
<div class="page-wrapper" >

    <main class="main">
        <div class="page-header text-center" style="background-image: url('assets/images/page-header-bg.jpg')">
            <div class="container-fluid">
                <h1 class="page-title">My Account<span style="font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif, Haettenschweiler, 'Arial Narrow Bold', sans-serif; ">ELECTRO MANIA</span></h1>
            </div><!-- End .container -->
        </div><!-- End .page-header -->
        <nav aria-label="breadcrumb" class="breadcrumb-nav mb-3">
            <div class="container-fluid">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">My Account</li>
                </ol>
            </div><!-- End .container -->
        </nav><!-- End .breadcrumb-nav -->

        <div class="page-content">
            <div class="dashboard">
                <div class="container-fluid">
                    <div class="row">
                        <aside class="col-md-4 col-lg-3">
                            <ul class="nav nav-dashboard  " role="tablist" style="flex-direction: column; justify-content: stretch;">
                                <li class="nav-item ">
                                    <a class="nav-link active" id="tab-dashboard-link" data-toggle="tab"
                                        href="#tab-dashboard" role="tab" aria-controls="tab-dashboard"
                                        aria-selected="true">Dashboard</a>
                                </li>
                                
                                <li class="nav-item">
                                    <a class="nav-link" id="tab-orders-link" data-toggle="tab" href="#tab-wallet"
                                        role="tab" aria-controls="tab-orders" aria-selected="false">Wallet</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="tab-address-link" data-toggle="tab" href="#tab-address"
                                        role="tab" aria-controls="tab-address" aria-selected="false">Adresses</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="tab-account-link" data-toggle="tab" href="#tab-account"
                                        role="tab" aria-controls="tab-account" aria-selected="false">Account Details</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link"  href="/getcoupon"
                                        >coupons</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/logout">Sign Out</a>
                                </li>
                            </ul>
                        </aside><!-- End .col-lg-3 -->

                        <div class="col-md-8 col-lg-9">
                            <div class="tab-content">
                                <% if(!cookies){ %>
                                    <a href="/sin" ><h6 style="color: orangered;"><u>Login to view your profile</u></h6></a>
                                <% } else { %>
                                    <% if(error) { %>
                                    <h6 style="color: red;"><%= error%></h6>
                                    <% } else { %>
                                        <h6></h6>
                                        <% } %>
                                <div class="tab-pane fade show active" id="tab-dashboard" role="tabpanel"
                                    aria-labelledby="tab-dashboard-link">

                                    <div><h6>Referal Code : <%=  userdata.Referalcode %></h6></div>
                                    <form action="/editprofile" method="post">
                                        <label>Display Name *</label>
                                        <input type="text" class="form-control" name="name" value="<%= cookies?cookies.name:'' %>">
                                        <small class="form-text">This will be how your name will be displayed in the
                                            account section and in reviews</small>

                                        <label>Email address *</label>
                                        <input type="email" class="form-control" name="email" required value="<%= cookies?cookies.email:'' %>">

                                        <div class="row">
                                            <div class="col-sm-6">
                                                <label>Dob</label>
                                                <% if (cookies && cookies.dob) { %>
                                                    <% const dobDate = new Date(cookies.dob); %>
                                                    <% if (!isNaN(dobDate)) { %>
                                                        <input type="date" class="form-control" name="dob" value="<%= dobDate.toISOString().split('T')[0] %>">
                                                    <% } else { %>
                                                        <input type="date" class="form-control" name="dob" value="">
                                                        <small class="text-danger">Invalid date format in cookies.</small>
                                                    <% } %>
                                                <% } else { %>
                                                    <input type="date" class="form-control" name="dob" value="">
                                                <% } %>
                                            </div>

                                            <div class="col-sm-6">
                                                <label>Gender</label>
                                                <select name="gender" class="form-control" value="<%= cookies?cookies.gender:'' %>">
                                                    <option value="male" selected>Male</option>
                                                    <option value="female">Female</option>
                                                </select>
                                            </div><!-- End .col-sm-6 -->
                                        </div><!-- End .row -->

                                        <label>Current password (leave blank to leave unchanged)</label>
                                        <input type="password" class="form-control" name="currentpass">

                                        <label>New password (leave blank to leave unchanged)</label>
                                        <input type="password" class="form-control" name="newpass">

                                        <label>Confirm new password</label>
                                        <input type="password" class="form-control mb-2" name="cpass">

                                        <button type="submit" class="btn btn-outline-primary-2">
                                            <span>SAVE CHANGES</span>
                                            <i class="icon-long-arrow-right"></i>
                                        </button>
                                    </form>
                                </div><!-- .End .tab-pane -->
                                <% } %>





                                                             




                                


                                <div class="tab-pane fade" id="tab-wallet" role="tabpanel"aria-labelledby="tab-orders-link">
                                                            
                                    <div>
                                        <% if(userdata) { %>

                                            <div class="row mb-2 " id="main" style="background-color: rgba(233, 233, 233, 0.713); border-radius: 10px;  display: flex; justify-content: space-between; height: fit-content; align-items: center;">
                                                <br>
                                                <br>
                                                <span class="col-12 col-lg-6" style="color: blue; display: flex; justify-content: space-between;">
                                                   <h6>Account Name : <%= userdata.username %></h6>
                                                   
                                                  
                                                </span>
                                                <span class="col-12 col-lg-6" style="color: blue; display: flex; justify-content: space-between;">
                                                    <h6 style="color: brown;">  Email : <%= userdata.email %></h6>
                                                    
                                                   
                                                 </span>
                                                 <span class="col-12  col-lg-6" style="color: blue; display: flex; justify-content: space-between; align-items: center;" >
                                                   
                                                    <h5 style="color: rgb(0, 0, 0);"> Total Balance :  ₹ <%= userdata.Wallet %></h5>
                                                 </span>

                                                 <span class="col-12  col-lg-6" style="color: blue; display: flex; justify-content: space-between; align-items: center;" >
                                                   
                                                    <h5 style="color: rgb(0, 0, 0);"> Transactions :   <%= userdata.WalletHistory.length %></h5>
                                                 </span>
                                                 <br>
                                                 <br>
                                                 <br>
                                                
                                                 
                                          
                                            </div>

                                            <% } %>

                                           <a href="/viewwallet" ><button  class="btn btn-primary">View Transactions</button></a>

                                    </div>
                                    
                            </div>
                                

                                <!-- Primary Address form -->
                                <div class="modal fade" id="address-modal-1" tabindex="-1" role="dialog" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered" role="document">
                                        <div class="modal-content">
                                            <div class="modal-body">
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true"><i class="icon-close"></i></span>
                                                </button>
                            
                                                <div class="form-box">
                                                    <div class="form-tab">
                                                        <ul class="nav nav-pills nav-fill" role="tablist">
                                                            <li class="nav-item">
                                                                <a class="nav-link active" id="signin-tab" data-toggle="tab" href="/sin"
                                                                    role="tab" aria-controls="signin" aria-selected="true">Primary Address</a>
                                                            </li>
                                                        </ul>
                                                        <div class="tab-content" id="tab-content-5">
                                                            <div class="tab-pane fade show active" id="signin" role="tabpanel"
                                                                aria-labelledby="signin-tab">
                                                                <form action="/primaryaddress" method="post">
                                                                    <div class="mb-3">
                                                                        <label class="form-label">Name</label>
                                                                        <input type="text" class="form-control" name="name" value="<%= address?address.PrimaryAddress.Name:'' %>" required>
                                                                      </div>

                                                                    <div class="mb-3">
                                                                      <label class="form-label">Country</label>
                                                                      <input type="text" class="form-control" name="country" value="<%= address?address.PrimaryAddress.Country:'' %>" required>
                                                                    </div>
                                                                    <div class="mb-3">
                                                                      <label class="form-label">state</label>
                                                                      <input type="text" class="form-control" name="state" value="<%= address?address.PrimaryAddress.States:'' %>" required>
                                                                    </div>
                                                                    <div class="mb-3">
                                                                      <label class="form-label">city</label>
                                                                      <input type="text" class="form-control" name="city" value="<%= address?address.PrimaryAddress.City:'' %>" required>
                                                                    </div>
                                                                    <div class="mb-3">
                                                                      <label class="form-label">landmark</label>
                                                                      <input type="text" class="form-control" name="landmark" value="<%= address?address.PrimaryAddress.Landmark:'' %>" required> 
                                                                    </div>
                                                                    <div class="mb-3">
                                                                      <label class="form-label">pincode</label>
                                                                      <input type="text" class="form-control" name="pincode" value="<%= address?address.PrimaryAddress.Pincode:'' %>" required>
                                                                    </div>

                                                                    <div class="mb-3">
                                                                      <label class="form-label">Phone</label>
                                                                      <input type="text" class="form-control" name="phone" value="<%= address?address.PrimaryAddress.Phone:'' %>" required>
                                                                    </div>

                                                                    <button type="submit" class="btn btn-primary">Save it</button>
                                                                  </form>
                                                                
                                                            </div>
                                                            
                                                        </div><!-- End .tab-content -->
                                                    </div><!-- End .form-tab -->
                                                </div><!-- End .form-box -->
                                            </div><!-- End .modal-body -->
                                        </div><!-- End .modal-content -->
                                    </div><!-- End .modal-dialog -->
                                </div><!-- End .modal -->

                                <div class="tab-pane fade" id="tab-address" role="tabpanel"
                                    aria-labelledby="tab-address-link">
                                    <p>The following addresses will be used on the checkout page by default.</p>

                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="card card-dashboard">
                                                <div class="card-body">
                                                    <h3 class="card-title">Primary Address</h3><!-- End .card-title -->
                                                    <% if(address){ %>
                                                    <%= address.PrimaryAddress.Name %><br>
                                                    <%= address.PrimaryAddress.City %>,
                                                    <%= address.PrimaryAddress.States %><br> 
                                                        <%= address.PrimaryAddress.Landmark %><br>
                                                        <%= address.PrimaryAddress.Country %><br>
                                                        <%= address.PrimaryAddress.Pincode %><br>
                                                        <%= address.PrimaryAddress.Phone %> <br>
                                                        <% } else { %>
                                                            You have not set up this type of address yet.
                                                        <% } %>
                                                        <% if(cookies) { %>
                                                            <a href="#address-modal-1" data-toggle="modal">Change <i class="icon-edit"></i></a>
                                                            <% } %>

                                                        
                                                    </p>
                                                </div><!-- End .card-body -->
                                            </div><!-- End .card-dashboard -->
                                        </div><!-- End .col-lg-6 -->


                                        <!-- Secondary Address form -->
                                        <div class="modal fade" id="address-modal-2" tabindex="-1" role="dialog" aria-hidden="true">
                                            <div class="modal-dialog modal-dialog-centered" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-body">
                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                            <span aria-hidden="true"><i class="icon-close"></i></span>
                                                        </button>
                                    
                                                        <div class="form-box">
                                                            <div class="form-tab">
                                                                <ul class="nav nav-pills nav-fill" role="tablist">
                                                                    <li class="nav-item">
                                                                        <a class="nav-link active" id="signin-tab" data-toggle="tab" href="/sin"
                                                                            role="tab" aria-controls="signin" aria-selected="true">Secondary Address</a>
                                                                    </li>
                                                                </ul>
                                                                <div class="tab-content" id="tab-content-5">
                                                                    <div class="tab-pane fade show active" id="signin" role="tabpanel"
                                                                        aria-labelledby="signin-tab">
                                                                        <form action="/secondaryaddress" method="post">
                                                                            <div class="mb-3">
                                                                                <label class="form-label">Name</label>
                                                                                <input type="text" class="form-control" name="name" value="<%= address?address.PrimaryAddress.Name:'' %>">
                                                                              </div>

                                                                            <div class="mb-3">
                                                                              <label class="form-label">Country</label>
                                                                              <input type="text" class="form-control" name="country" value="<%= address?address.SecondaryAddress.Country:'' %>">
                                                                            </div>
                                                                            <div class="mb-3">
                                                                              <label class="form-label">city</label>
                                                                              <input type="text" class="form-control" name="city" value="<%= address?address.SecondaryAddress.City:'' %>">
                                                                            </div>
                                                                            <div class="mb-3">
                                                                              <label class="form-label">state</label>
                                                                              <input type="text" class="form-control" name="state" value="<%= address?address.SecondaryAddress.States:'' %>">
                                                                            </div>
                                                                            <div class="mb-3">
                                                                              <label class="form-label">landmark</label>
                                                                              <input type="text" class="form-control" name="landmark" value="<%= address?address.SecondaryAddress.Landmark:'' %>">
                                                                            </div>
                                                                            <div class="mb-3">
                                                                              <label class="form-label">pincode</label>
                                                                              <input type="text" class="form-control" name="pincode" value="<%= address?address.SecondaryAddress.Pincode:'' %>"> 
                                                                            </div>
                                                                            <div class="mb-3">
                                                                                <label class="form-label">Phone</label>
                                                                                <input type="text" class="form-control" name="phone" value="<%= address?address.PrimaryAddress.Phone:'' %>">
                                                                              </div>

                                                                            <button type="submit" class="btn btn-primary">Save it</button>
                                                                          </form>
                                                                        
                                                                    </div>
                                                                    
                                                                </div><!-- End .tab-content -->
                                                            </div><!-- End .form-tab -->
                                                        </div><!-- End .form-box -->
                                                    </div><!-- End .modal-body -->
                                                </div><!-- End .modal-content -->
                                            </div><!-- End .modal-dialog -->
                                        </div><!-- End .modal -->

                                        <div class="col-lg-6">
                                            <div class="card card-dashboard">
                                                <div class="card-body">
                                                    <h3 class="card-title">Secondary Address</h3><!-- End .card-title -->
                                                    <% if(address){ %>
                                                        <p>
                                                            <%= address.SecondaryAddress.Name %>
                                                            <%= address.SecondaryAddress.City %>, 
                                                            <%= address.SecondaryAddress.States %><br>
                                                            <%= address.SecondaryAddress.Landmark %><br>
                                                            <%= address.SecondaryAddress.Country %><br>
                                                            <%= address.SecondaryAddress.Pincode %><br>
                                                            <%= address.SecondaryAddress.Phone %><br>

                                                            <% } else { %>
                                                                You have not set up this type of address yet.
                                                            <% } %>
                                                            <% if(cookies) { %>
                                                            <a href="#address-modal-2" data-toggle="modal">Change <i class="icon-edit"></i></a>
                                                            <% } %>
                                                        </p>
                                                </div><!-- End .card-body -->
                                            </div><!-- End .card-dashboard -->
                                        </div><!-- End .col-lg-6 -->
                                    </div><!-- End .row -->
                                </div><!-- .End .tab-pane -->

                                
                            </div>
                        </div><!-- End .col-lg-9 -->
                    </div><!-- End .row -->
                </div><!-- End .container -->
            </div><!-- End .dashboard -->
        </div><!-- End .page-content -->
    </main><!-- End .main -->
    
    <%- include('footer.ejs') %>

</div><!-- End .page-wrapper -->
<button id="scroll-top" title="Back to Top"><i class="icon-arrow-up"></i></button>

<!-- Mobile Menu -->
<div class="mobile-menu-overlay"></div><!-- End .mobil-menu-overlay -->



<!-- Sign in / Register Modal -->
<script>

</script>

<!-- Plugins JS File -->
<script src="assets/js/jquery.min.js"></script>
<script src="assets/js/bootstrap.bundle.min.js"></script>
<script src="assets/js/jquery.hoverIntent.min.js"></script>
<script src="assets/js/jquery.waypoints.min.js"></script>
<script src="assets/js/superfish.min.js"></script>
<script src="assets/js/owl.carousel.min.js"></script>
<!-- Main JS File -->
<script src="assets/js/main.js"></script>


<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10.14.0/dist/sweetalert2.all.min.js"></script>

<% if(aerror){ %>
    <script>
    Swal.fire({
      title: "Info",
      text: "You have no address yet please add",
      icon: "info",
      confirmButtonText: "OK"
    });
    </script>
    <% } %>

    

   







<%- include('footer.ejs') %>

